{
  "endOfLine": "lf",
  "printWidth": 100,
  "tabWidth": 4,
  "trailingComma": "all",
  "singleQuote": false,
  "useTabs": true,
  "semi": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "bracketSameLine": false
}
